<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<h1 class="mb-1 restaurant-show-title">建立新餐廳</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants/create" method="POST">
        {{!-- 名稱 --}}
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">名稱</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </div>
        </div>
        {{!-- 類別 --}}
        <div class="form-group row">
          <label for="category" class="col-sm-2 col-form-label">類別：</label>
          <div class="col-sm-10">
            {{!-- <input type="text" class="form-control" id="category" name="category" placeholder="Category"> --}}
            <select id="category" class="form-control" name="category">
              {{!-- <option>選擇餐廳類型</option> --}}
              <option value="美式餐廳" >美式餐廳 (預設)</option>
              <option value="日本料理">日本料理</option>
              <option value="義式餐廳">義式餐廳</option>
              <option value="中式餐廳">中式餐廳</option>
              <option value="泰式料理">泰式料理</option>
              <option value="中東料理">中東料理</option>
              <option value="異國風味">異國風味</option>
              <option value="吃到飽">吃到飽</option>
              <option value="早午餐">早午餐</option>
              <option value="咖啡">咖啡</option>
              <option value="酒吧">酒吧</option>
            </select>
          </div>
          
        </div>
        {{!-- 地址 --}}
        <div class="form-group row">
          <label for="location" class="col-sm-2 col-form-label">地址：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="location" name="location" placeholder="Address">
          </div>
        </div>
        {{!-- 電話 --}}
        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label">電話：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Tel">
          </div>
        </div>
        {{!-- 簡介 --}}
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">簡介：</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"></textarea>
          </div>
        </div>
        {{!-- 圖片 --}}
        <div class="form-group row">
          <label for="image" class="col-sm-2 col-form-label">圖片：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="image" name="image" placeholder="http://">
          </div>
        </div>
        {{!-- Rating --}}
        <div class="form-group row">
          <label for="rating" class="col-sm-2 col-form-label">評價：</label>
          <div class="col-sm-10">
            {{!-- <b> 1 </b>
              <input type="range" min="1" max="5" value="5" step="0.1" class="slider" id="rating" name="rating" value="5">
           <b> 5 </b> --}}
            <input type="text" class="form-control" id="rating" name="rating" placeholder="5.0">
          </div>
        </div>
        <div class="form-group row justify-content-end">
          <a class="btn btn-secondary mr-3" href="/">取消</a>
          <button type="submit" class="btn btn-primary mr-3">建立</button>
        </div>      
      </form>
    </div>
  </div>
</div>